---
const { to, label = "This link does not have a label. Please contact Blurry to resolve this." } = Astro.props;
---

<a aria-label={label} target="_blank" class="circlebutton" href={to}><slot /></a>
