---
import { ExternalLink } from "lucide-astro";
const { to, external, showIcon } = Astro.props;
---

{
	external && (
		<a
			target="_blank"
			class="text-brand-text-secondary flex w-fit flex-row items-center gap-2 font-bold hover:underline"
			href={to}>
			<slot /> {showIcon && <ExternalLink />}
		</a>
	)
}
{
	!external && (
		<a class="text-brand-text-secondary font-bold hover:underline" href={to}>
			<slot />
		</a>
	)
}
